---
BasedOnStyle: Microsoft
AccessModifierOffset: '-3'
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: '80'
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: '4'
IndentWidth: '4'
TabWidth: '4'
UseTab: Never
PointerAlignment: Left
AlignEscapedNewlines: Left
...
